<h1>Responsáveis</h1>

<%= link_to 'Cadastrar Responsável', new_guardian_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>CPF</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= guardian.name %></td>
        <td><%= guardian.cpf %></td>
        <td><%= link_to 'Ver', guardian %></td>
        <td><%= link_to 'Atualizar', edit_guardian_path(guardian) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
