<h1>Responsável</h1>

<%= link_to 'Atualizar', edit_guardian_path(@guardian) %> |
<%= link_to 'Listar', guardians_path %> |
<%= link_to 'Apagar', guardian_path(@guardian), method: :delete, data: { confirm: 'Todos os alunos dependentes serão apagados. Continuar?' } %>

<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @guardian.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @guardian.address %>
</p>

<p>
  <strong>Alunos:</strong>
</p>
<ul>
  <% @guardian.students.each do |s| %>
  <li><%= link_to s.name, student_path(s) %></li>
  <% end %>
</ul>

<%= link_to 'Cadastrar Aluno', new_student_path %>