<p id="notice"><%= notice %></p>

<h1>Alunos</h1>

<%= link_to 'Cadastrar Aluno', new_student_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enrollment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.enrollment %></td>
        <td><%= link_to 'Ver', student %></td>
        <td><%= link_to 'Atualizar', edit_student_path(student) %></td>
        <td><%= link_to 'Apagar', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
