<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @student.unit %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @student.registration_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
