<p id="notice"><%= notice %></p>

<h1>Aluno</h1>

<%= link_to 'Atualizar', edit_student_path(@student) %> |
<%= link_to 'Listar', students_path %>

<p>
  <strong>Unidade:</strong>
  <%= link_to @student.unit.title, unit_path(@student.unit) %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= link_to @student.guardian.name, guardian_path(@student.guardian) %>
</p>

<p>
  <strong>Nome</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Matrícula:</strong>
  <%= @student.enrollment %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Turmas:</strong>
</p>
<ul>
  <% @student.klasses.each do |k| %>
  <li><%= link_to k.title, klass_path(k) %></li>
  <% end %>
</ul>
