<h1>Professor</h1>

<%= link_to 'Atualizar', edit_teacher_path(@teacher) %> |
<%= link_to 'Listar', teachers_path %>

<p>
  <strong>Nome</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @teacher.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @teacher.address %>
</p>

<p>
  <strong>Turmas:</strong>
</p>
<% @teacher.klasses.group_by{ |k| k.unit_id }.values.each do |u_klasses| %>
<ul>
  <li>
    <% u = @teacher.units.find{ |u| u.id == u_klasses[0].unit_id } %>
    <%= link_to u.title, unit_path(u) %>
    <ul>
      <% u_klasses.each do |k| # cruza as turmas do professor com as da unidade %>
      <li><%= link_to k.title, klass_path(k) %></li>
      <% end %>
    </ul>
  </li>
</ul>
<% end %>
