<p id="notice"><%= notice %></p>

<h1>Escolas</h1>

<%= link_to 'Cadastrar Escola', new_school_path %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.title %></td>
        <td><%= school.cnpj %></td>
        <td><%= school.phone %></td>
        <td><%= school.address %></td>
        <td><%= link_to 'Ver', school %></td>
        <td><%= link_to 'Atualizar', edit_school_path(school) %></td>
        <td><%= link_to 'Apagar', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
