<p>
  <strong>Nome:</strong>
  <%= @school.title %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @school.cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @school.address %>
</p>

<%= link_to 'Atualizar', edit_school_path(@school) %> |
<%= link_to 'Listar', schools_path %>
