<h1>Unidades</h1>

<%= link_to 'Cadastrar Unidade', new_unit_path %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.title %></td>
        <td><%= link_to 'Ver', unit %></td>
        <td><%= link_to 'Atualizar', edit_unit_path(unit) %></td>
        <td><%= link_to 'Apagar', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
