<h1>Unidade</h1>

<%= link_to 'Atualizar', edit_unit_path(@unit) %> |
<%= link_to 'Listar', units_path %> |
<%= link_to 'Apagar', unit_path(@unit), method: :delete,  data: { confirm: 'Todas as turmas desta unidade serão apagadas e os alunos ficarão com o campo \'Unidade\' em branco. Continuar?' } %>

<p>
  <strong>Nome:</strong>
  <%= @unit.title %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @unit.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @unit.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @unit.address %>
</p>
