<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Escola</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>


<header>
  <nav>
    <%= link_to current_school.title, root_path %>
  </nav>
  <%= "↳ #{current_unit.title}" if current_unit %>
</header>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
       
<%= yield %>

</body>
</html>
