<h1>Turma</h1>

<%= link_to 'Atualizar', edit_klass_path(@klass) %> |
<%= link_to 'Listar', klasses_path %> |
<%= link_to 'Cadastrar Turma', new_klass_path %>

<p>
  <strong>Nome:</strong>
  <%= @klass.title %>
</p>


<p>
  <strong>Unidade:</strong>
  <%= link_to @klass.unit.title, unit_path(@klass.unit) %>
</p>
<p>
  <strong>Alunos:</strong>
</p>
<ul>
  <% @klass.students.each do |s| %>
  <li><%= link_to s.name, student_path(s) %></li>
  <% end %>
</ul>

<%= link_to 'Cadastrar Aluno', new_student_path %>

<p>
  <strong>Professores:</strong>
</p>
<ul>
  <% @klass.teachers.each do |s| %>
  <li><%= link_to s.name, teacher_path(s) %></li>
  <% end %>
</ul>

<%= link_to 'Cadastrar Professor', new_teacher_path %>